@tailwind base;

@tailwind components;

@tailwind utilities;

button:focus,
input:focus,
textarea:focus {
  outline: none;
}

.app {
  background: url('../img/bg-pattern.svg');
}

/* Font sizes */
@media screen and (max-width: 767px) {
  html {
    font-size: 14px;
  }
}

/* Nav menu */
nav .curve {
  bottom: -14px;
}

.mobile-toggle {
  background: none transparent;
  border: 4px solid #ede8d5;
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  cursor: pointer;
  display: block;
  height: 24px;
  position: absolute;
  top: 27px;
  left: 20px;
  width: 24px;
  transition: all 0.2s;
}
.mobile-toggle:before {
  background: #ede8d5;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 24px;
  transition: all 0.2s;
}
.mobile-toggle:after {
  background: #ede8d5;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  top: 6px;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  transform: rotate(90deg);
  transition: all 0.2s;
}
.mobile-toggle.toggled {
  border: 4px solid #ffffff;
  border-radius: 50%;
  height: 28px;
  top: 25px;
  left: 18px;
  width: 28px;
  transform: rotate(-135deg);
}
.mobile-toggle.toggled:before {
  background: #ffffff;
  top: 8px;
  left: 4px;
  width: 12px;
}
.mobile-toggle.toggled:after {
  background: #ffffff;
  opacity: 1;
  top: 8px;
  left: 4px;
  visibility: visible;
  width: 12px;
}
.mobile-toggle.toggled:hover {
  border-color: #ede8d5;
}
.mobile-toggle.toggled:hover:before,
.mobile-toggle.toggled:hover:after {
  background: #ede8d5;
}
.mobile-nav-links {
  position: absolute;
  top: 70px;
  width: 100%;
  perspective: 1000px;
}
.mobile-nav-links:before {
  background: rgba(255, 120, 127, 0.3);
  content: '';
  height: 100vh;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: none;
  opacity: 0;
  transition: all 0.5s;
}
.mobile-toggle.toggled ~ .mobile-nav-links:before {
  display: block;
  opacity: 1;
}
.mobile-nav-links li {
  display: none;
}
.mobile-toggle.toggled ~ .mobile-nav-links li {
  display: block;
  opacity: 0;
  transform-origin: top center;
  animation-name: mobile-menu;
  animation-duration: 0.3s;
  animation-delay: calc(var(--n) * 0.15s - 0.3s);
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.mobile-nav-links li:nth-child(1) {
  --n: 1;
}
.mobile-nav-links li:nth-child(2) {
  --n: 2;
}
.mobile-nav-links li:nth-child(3) {
  --n: 3;
}
.mobile-nav-links li:nth-child(4) {
  --n: 4;
}
/* .mobile-menu-toggle input {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.mobile-menu-toggle input:checked + label {
  border: 4px solid #ffffff;
  border-radius: 50%;
  height: 28px;
  top: 25px;
  left: 18px;
  width: 28px;
  transform: rotate(-135deg);
}
.mobile-menu-toggle input:checked + label:before {
  background: #ffffff;
  top: 8px;
  left: 4px;
  width: 12px;
}
.mobile-menu-toggle input:checked + label:after {
  background: #ffffff;
  opacity: 1;
  top: 8px;
  left: 4px;
  visibility: visible;
  width: 12px;
}
.mobile-menu-toggle input:checked + label:hover {
  border-color: #ede8d5;
}
.mobile-menu-toggle input:checked + label:hover:before,
.mobile-menu-toggle input:checked + label:hover:after {
  background: #ede8d5;
}
.mobile-menu-toggle label {
  background: none transparent;
  border: 4px solid #ede8d5;
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  cursor: pointer;
  display: block;
  height: 24px;
  position: absolute;
  top: 27px;
  left: 20px;
  width: 24px;
  transition: all 0.2s;
}
.mobile-menu-toggle label:before {
  background: #ede8d5;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 24px;
  transition: all 0.2s;
}
.mobile-menu-toggle label:after {
  background: #ede8d5;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  top: 6px;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  transform: rotate(90deg);
  transition: all 0.2s;
}
.mobile-nav-links {
  position: absolute;
  top: 70px;
  width: 100%;
  perspective: 1000px;
}
.mobile-nav-links:before {
  background: rgba(255, 120, 127, 0.3);
  content: '';
  height: 100vh;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: none;
  opacity: 0;
  transition: all 0.5s;
}
.mobile-menu-toggle input:checked ~ .mobile-nav-links:before {
  display: block;
  opacity: 1;
}
.mobile-nav-links li {
  display: none;
}
.mobile-menu-toggle input:checked ~ .mobile-nav-links li {
  display: block;
  opacity: 0;
  transform-origin: top center;
  animation-name: mobile-menu;
  animation-duration: 0.3s;
  animation-delay: calc(var(--n) * 0.15s - 0.3s);
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.mobile-nav-links li:nth-child(1) {
  --n: 1;
}
.mobile-nav-links li:nth-child(2) {
  --n: 2;
}
.mobile-nav-links li:nth-child(3) {
  --n: 3;
}
.mobile-nav-links li:nth-child(4) {
  --n: 4;
} */

@keyframes mobile-menu {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  60% {
    transform: rotateX(50deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

/* Form Page */
.form-page {
  @apply mx-auto rounded-lg p-6 shadow-list bg-beige;
}
.form-page-inner {
  @apply px-6 py-4 rounded-lg overflow-hidden;
}
.form-page-title {
  @apply font-title text-5xl text-center;
}
.form-page-button {
  @apply w-full rounded-lg mb-6 mt-16 font-title text-4xl border-4 overflow-hidden relative z-10;
  transition: 0.5s;
  position: relative;
}
.form-page-button span {
  position: absolute;
  width: 25%;
  height: 100%;
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}
.create-quote .form-page-button span {
  @apply bg-beige;
}
.sign-in .form-page-button span {
  @apply bg-pink;
}
.sign-up .form-page-button span {
  @apply bg-mintBlue;
}
.create-quote .form-page-button:hover {
  @apply text-orange;
}
.sign-in .form-page-button:hover {
  @apply text-white;
}
.sign-up .form-page-button:hover {
  @apply text-pink;
}
.form-page-button:hover span {
  transform: translateY(0) scale(2);
}
.form-page-button span:nth-child(1) {
  --n: 1;
}
.form-page-button span:nth-child(2) {
  --n: 2;
}
.form-page-button span:nth-child(3) {
  --n: 3;
}
.form-page-button span:nth-child(4) {
  --n: 4;
}

/* inputs */
.input-field input,
.textarea-field textarea {
  font-family: 'Fredoka One', cursive;
  width: 100%;
  padding: 0 10px;
  border-bottom: 2px solid #fff;
  background-color: transparent;
  font-size: 22px;
  z-index: 99;
  position: relative;
}
.create-quote input,
.create-quote textarea {
  color: #ffffff;
}
.sign-in input {
  color: #ff9002;
}
.sign-up input {
  color: #ffffff;
}
.input-field input {
  height: 38px;
}
.textarea-field textarea {
  height: 76px;
  resize: none;
}
.create-quote input.white,
.create-quote textarea.white {
  background-color: #ff787f;
}
.sign-in input.white {
  background-color: #cee4e2;
}
.sign-up input.white {
  background-color: #ff9002;
}
.input-field label,
.textarea-field label {
  display: block;
  width: 100%;
  margin-top: 30px;
  position: relative;
}
.input-field label {
  height: 40px;
}
.textarea-field label {
  height: 78px;
}
.input-field label span,
.textarea-field label span {
  width: 100%;
  line-height: 38px;
  position: absolute;
  left: 0;
  cursor: text;
}
.input-field label span {
  height: 38px;
}
.textarea-field label span {
  height: 76px;
}
.input-field label span:before,
.textarea-field label span:before {
  content: '';
  width: 0%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  transition: 0.3s;
}
.create-quote .input-field label span:before,
.create-quote .textarea-field label span:before {
  background-color: #ff9002;
}
.sign-in .input-field label span:before {
  background-color: #ff9002;
}
.sign-up .input-field label span:before {
  background-color: #ff787f;
}
.input-field label span:after,
.textarea-field label span:after {
  content: '';
  width: 0%;
  height: 3px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 99;
  transition: 0.3s;
}
.create-quote .input-field label span:after,
.create-quote .textarea-field label span:after {
  background-color: #ff9002;
}
.sign-in .input-field label span:after {
  background-color: #ff9002;
}
.sign-up .input-field label span:after {
  background-color: #ff787f;
}
.input-field label span span,
.textarea-field label span span {
  font-family: 'Fredoka One', cursive;
  position: absolute;
  top: 0;
  z-index: 1;
  font-size: 22px;
  text-indent: 10px;
  transition: 0.3s;
}
.create-quote .input-field label span span,
.create-quote .textarea-field label span span {
  color: #ffffff;
}
.sign-in .input-field label span span {
  color: #ff9002;
}
.sign-up .input-field label span span {
  color: #cee4e2;
}
.input-field input:focus + span:before,
.input-field input:focus + span:after,
.textarea-field textarea:focus + span:before,
.textarea-field textarea:focus + span:after {
  width: 50%;
}
.input-field input:focus + span span,
.textarea-field textarea:focus + span span {
  cursor: initial;
  position: absolute;
  font-size: 18px;
  top: -35px;
}
.create-quote .input-field input:focus + span span,
.create-quote .textarea-field textarea:focus + span span {
  color: #ede8d5;
}
.sign-in .input-field input:focus + span span {
  color: #ff787f;
}

/*Lists */
.list {
  @apply p-6 rounded-lg shadow-list;
  background-color: #fff;
  background-image: linear-gradient(#eee 0.1em, transparent 0.1em);
  background-size: 100% 1.2em;
}
.list-input {
  @apply border-b border-orange border-dotted;
}
.list-title {
  @apply font-title text-4xl text-orange;
}
.completed .fas,
.completed .item-text {
  opacity: 0.3;
}

/* Quote summary page */
.quote-card {
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-out;
  z-index: 0;
}
.quote-card:hover {
  color: #ffffff;
}
.quote-card:hover hr {
  border-color: #ffffff;
}
.quote-card:hover .fas {
  color: #ffffff;
}
.quote-card:before {
  content: '\f004';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  position: absolute;
  z-index: -1;
  bottom: 23px;
  right: 37px;
  opacity: 0;
  color: #ff787f;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 1s ease-out;
}
.quote-card:hover:before {
  opacity: 1;
  transform: scale(100);
}

/* Quote details page */
.quote-content {
  text-indent: 2rem;
}

/* Tooltips */
.tooltip .tooltip-text {
  bottom: 100%;
  left: 50%;
  margin-left: -4rem;
  opacity: 0;
  visibility: hidden;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
  animation: tooltip-fade 0.3s ease-out 0.5s forwards;
}

@keyframes tooltip-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

/* Effects */
.floating-text span {
  display: inline-block;
  animation: float 0.2s ease-in-out 20;
  animation-delay: calc(0.05s * var(--n));
}
.bouncing-text:hover span {
  display: inline-block;
  animation: bounce 0.6s;
  animation-delay: calc(0.05s * var(--n));
}
.floating-text span:nth-child(1),
.bouncing-text span:nth-child(1) {
  --n: 1;
}
.floating-text span:nth-child(2),
.bouncing-text span:nth-child(2) {
  --n: 2;
}
.floating-text span:nth-child(3),
.bouncing-text span:nth-child(3) {
  --n: 3;
}
.floating-text span:nth-child(4),
.bouncing-text span:nth-child(4) {
  --n: 4;
}
.floating-text span:nth-child(5),
.bouncing-text span:nth-child(5) {
  --n: 5;
}
.floating-text span:nth-child(6),
.bouncing-text span:nth-child(6) {
  --n: 6;
}
.floating-text span:nth-child(7),
.bouncing-text span:nth-child(7) {
  --n: 7;
}
.floating-text span:nth-child(8),
.bouncing-text span:nth-child(8) {
  --n: 8;
}
.floating-text span:nth-child(9),
.bouncing-text span:nth-child(9) {
  --n: 9;
}
.floating-text span:nth-child(10),
.bouncing-text span:nth-child(10) {
  --n: 10;
}
.floating-text span:nth-child(11),
.bouncing-text span:nth-child(11) {
  --n: 11;
}
@keyframes float {
  0%,
  100% {
    transform: none;
  }
  33% {
    transform: translateY(-1px) rotate(-2deg);
  }
  66% {
    transform: translateY(1px) rotate(2deg);
  }
}
@keyframes bounce {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: rotateX(20deg) translateY(2px) rotate(-3deg);
  }
  50% {
    transform: translateY(-20px) rotate(3deg) scale(1.1);
  }
}

.shining {
  position: relative;
  overflow: hidden;
}
.shining:after {
  content: '';
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0) 100%
  );
}
.shining:hover:after {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}
.shining:active:after {
  opacity: 0;
}

/* Responsive */
@screen sm {
  .form-page {
    @apply w-3/4;
  }
  .form-page-inner {
    @apply px-16;
  }
  .form-page-title {
    @apply text-6xl;
  }
}
@screen md {
  .mobile-menu-toggle label {
    @apply hidden;
  }
}
@screen lg {
  .form-page {
    @apply w-3/5;
  }
}
@screen xl {
  .form-page {
    @apply w-1/2;
  }
}
